.ui.field
  .ui.fluid.icon.input
    input.article-title(
      type="text"
      name="title"
      placeholder="title...")
    i.file.icon

.ui.field
  .ui.segment.stacked.labeled.icon.input
    .article-content
    i.edit.icon

.article-extra.field
  .ui.fluid.icon.input
    input.article-tag(
      type="text"
      name="tag"
      placeholder="tag1, tag2...")
    i.tags.icon
